#banner-blog {
    background-image: url(/src/assets/banner-mobile.jpg);
    background-repeat: no-repeat;
    height: 50em;
    width: 26em;
    margin-top: 0px;
    padding-top: 0px;
}

#title-blog {
    display:flex;
}

/* Tablette */
@media (min-width: 768px) {
    .realisations {
        display: flex;
        flex-direction: row;
        width: 20em;
    }
}

/* Desktop */
@media (min-width: 991px) {

}