.ban-real {
    width: 100%;
}

.title-realisations {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    font-size: 2.2em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.little-title-realisations {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    padding-bottom: 0.5em;
    width: 15em;
    margin-left: 0em;
}

.border-real {
    border-bottom: 0.4em solid #0d6efd;
    width: 7em;
    margin-left: 9em;
}
.real {
    width: 100%;
}
.cards-real {
    width: 29em;
    padding-left: 0em;
}

.img-realisations {
    padding-left: 0em;
    padding-right: 0em;
    height: 15em;
}

.card-title-real {
    font-size:1.5em;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
}

.btn-real {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin-left: 11em;
    color: #0d6efd;
    background-color: white;
    width: 3.5em;
}


/* Tablette */
@media (min-width: 768px) {

    .ban-real {
        width: 100%;
        height: 8em;
    }
    .title-realisations {
        font-size: 2.5em;
        display: flex;
        flex-direction: column;
        text-align: center;
       
        padding-bottom: 0em;
    }
    .little-title-realisations {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2em;
        width: 100%;
    }
    .border-real {
        width: 10em;
        margin-left: 20em;
        margin-bottom: 2em;
    }
    .cards-real {
        margin-right: 0em;
        padding-right: 0em;
    }
    .realisations {
        display: flex;
    }
    .card {
        width: 22em;
        display: flex;
        padding-right: 2em;
        margin-right: 1em;
    }
    .img-realisations {
        width: 22em;
    }
    .col2-tabl {
        display: flex;
        flex-direction: column;
    }
    .card-title-real {
        font-size: 1.5em;
        padding-left: 1.5em;
        font-weight: 550;
    }
    .card-text {
        font-size: 1em;
        padding-left: 1.1em;
    }
    .techno {
       font-size: 1em;
       width: 22em;
   }
   .btn-real {
        margin-left: 8.5em;
   }
   .Services {
    padding-bottom: 3em;
   }
}

/*Desktop */
@media (min-width: 991px) {
    .ban-real {
        width: 100%;
    }
    .title-realisations {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .little-title-realisations {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5em;
    }
    .border-real {
        width: 20em;
    }
   .realisations {
    display: flex;
    flex-direction: row;
   }
   .col2-tabl { 
    display: flex;
    flex-direction: row;
   }
   .real {
    width: 20em;
   }
   .img-realisations {
    width: 19em;
   }
   .cards-real {
    display: flex;
    width: 100%;
   }
   .my-reals {
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 100%;
   }
   .Services {
    padding-bottom: 10em;
   }
   }
