
.box-contact{
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
    padding-top: 1em;
    background: url(/src/assets/at-140572_1280.jpg)no-repeat center center /
    cover;
    z-index: 1;


  }

.tab {
    margin-left: 3.4em;
}

.content {
    background-color: white;
}

.tit-contact {
  font-size: 2em;
  font-weight: 500;
  display: flex;
  margin-left: 3em;
  margin-bottom: 2em;
  padding-top: 1em;
  width: 5em;
  height: 2em;
  text-transform: uppercase;
}

.little-title-contact {
    font-size: 1em;
    font-weight: 200;
    margin-left: 5em;
    margin-right: 5em;
    width: 13.6em;
}

.border-contact1 {
    border-bottom: 0.4em solid .0d6efd;
    width: 5em;
    margin-left: 9.5em;
    margin-bottom: 3em;
}

.border-contact2 {
    border-bottom: 0.3em solid .0d6efd;
    width: 19em;
    margin-left: 0em;
    margin-bottom: 3em;
}

.border-contact3 {
    border-bottom: 0.2em solid .0d6efd;
    width: 18em;
    margin-left: 2em;
    margin-bottom: 3em;
}

.title-form {
    width: 7em;
    font-size: 1.5em;
    display: flex;
    text-align: start;
    margin-top: 1em;
}

.myform {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.btn {
    background-color: .0d6efd;
    color: white;
    width: 5.5em;
    height: 2.2em;
    display: flex;
    text-align: center;
    margin-left: 5em;
    margin-bottom: 2em;
}


em {
    display: flex;

}

.myform {
    width: 15em;
}

.colonne {
    display:flex;
}

.title-contact {
    font-size: 1.5em;
    font-weight: 550;
    display: flex;
    text-align: start;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 4em;
}

.contact-address {
    margin-left: 1em;
    margin-bottom: 2em;
}

.text-address {
    padding-top: 0.2em;

}

iframe {
    margin-left: 1em;
    margin-bottom: 2em;
    width: 15em;
    height: 20em;
    display: flex;
    padding-bottom: 2em;
}

/* Tablette */
@media (min-width: 768px) {
    .title-contact {
        width: 19em;
        display: flex;
        font-size: 1em;
    }

    .tit-contact {
        width: 9em;
        margin-bottom: 0.5em;
        display: flex;
        margin-left: 8em;
    }

    .little-title-contact {
        width: 30em;
        font-size: 0.8em;
        display: flex;
        margin-left: 15em;
    }
    .tablette {
        display: flex;
        flex-direction: column;
    }

    .border-contact1 {
        border-bottom: 0.3em solid #0d6efd;
        width: 9em;
        margin-left: 19em;
        margin-bottom: 3em;
    }
    
    .border-contact2 {
        border-bottom: 0.1em solid #0d6efd;
        width: 15em;
        margin-left: 0em;
        margin-bottom: 3em;
    }
    
    .border-contact3 {
        border-bottom: 0.1em solid #0d6efd;
        width: 18em;
        margin-left: 1em;
        margin-bottom: 3em;
    }

    .my-form {
        width: 8em;
        margin-left: 0em;
        margin-right: 9em;
    }
    .tab {
        display: flex;
    }
    .my-contact {
        display: flex;
        flex-direction: column;
        width: 10em;
        margin-left: 2em;
    }
    .title-form {
        font-size: 1em;
    }
    .text-address {
        width: 15em;
        font-size: 0.8em;
    }
    iframe {
        width: 18em;
        height: 15em;
    }
}


/*Desktop */
@media (min-width: 991px) {
    .tit-contact {
        width: 15em;
        display: flex;
        margin-left: 12em;
    }
    .little-title-contact {
        width: 50em;
        font-size: 1em;
        margin-left: 5em;
    }
    .tablette {
        display: flex;
        flex-direction: column;
    }
    .border-contact1 {
        border-bottom: 0.3em solid #0d6efd;
        width: 12em;
        margin-left: 26em;
        margin-bottom: 3em;
    }
    
    .border-contact2 {
        border-bottom: 0.1em solid #0d6efd;
        width: 25em;
        margin-left: 0em;
        margin-bottom: 3em;
    }
    
    .border-contact3 {
        border-bottom: 0.1em solid #0d6efd;
        width: 25em;
        margin-right: 1em;
        margin-bottom: 3em;
    }

    .my-form {
        width: 20em;
        margin-right: 1em;
    }
    iframe {
        width: 30em;
        height: 15em;
        margin-left: 1em;
    }
    .tab {
        display: flex;
    }
    .my-contact {
        display: flex;
        flex-direction: column;
        margin-left: 0em;
        margin-right: 1em;
    }
    .title-form {
        font-size: 1.5em;
        width: 20em;
    }
    .title-contact {
        font-size: 1.5em;
        padding-top: 1em;
        margin-bottom: 0.3em;
    }
    .text-address {
        padding-top: 0em;
    }
    iframe {
        width: 25em;
        height: 15em;
    }
}