/*
Header 
*/

nav {
  background-color: #1e1e1e;
  width: 26em;
}

#brand {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1.5em;
  color: white;
  margin-left: 0.1em;
  padding-left: 0em;
}

.nav-link {
  color:rgb(150, 142, 142);
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  font-size: 1.5em;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-bottom: 1em;
  width: 0.1em;
  height: 1.5em;
  border-color: beige;
  border-width: 0.1em;
}

.nav-link:hover {
  color : white;
}

.nav-link {
  font-size: 1em;
  display: flex;
  padding-left: 0.2em;
  font-weight: 600;
  text-transform: uppercase;
}


/* Tablette */

@media (min-width: 768px) {
  #brand {
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0em;
  }
  nav {
    width: 50em;
    height: 4.2em;
  }

  .navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-bottom: 1em;
    width: 0.1em;
    height: 1.5em;
    border-color: beige;
    border-width: 0.1em;
  }
  #basic-navbar-nav {
    width: 20em;
  }
  .me-auto{
    background-color: #1e1e1e;
    width: 46.5em;
    display: flex;
  }
  .container {
    padding-left: 0em;
  }
}

/*Desktop */
@media (min-width: 992px) {
  nav {
    width: 63em;
    height: 3em;
  }
  #brand {
    font-size: 1em;
    margin-left: 2em;
  }
.me-auto {
  margin-left: 25em;
  font-size: 0.8em;
  font-weight: 600;
}

}

/*
/*Main 
*/

#myhome {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15);
  padding-bottom: 2em;
}

#Introduction {
  background-image: url(/src/assets/home/home-me-mobile.jpg);
  background-repeat: no-repeat;
  height: 50em;
  width: 26em;
  margin-top: 0px;
  padding-top: 0px;
}

#Hello {
  color:white;
  font-size:3em;
  font-weight: 500;
  display: flex;
  padding-top: 4em;
  padding-left: 0.7em;
  width: 8em;
  margin-top: 0px;
}

#Job {
  color: white;
  font-size:1.4em;
  padding-left: 0.7em;
  padding-top: 0.9em;
  padding-bottom: 1em;
}

button {
  background-color: #0d6efd;
  color:white;
}

#presentation {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

#about {
  padding-top: 3em;
  padding-bottom: 0.5em;
  border-radius: 1%;
  margin-top: 2rem;
  font-size: 1.7em;
  border-width: 2px;
  display: flex;
  margin-left: 1.4em;
  border-bottom: 0.1em solid #0d6efd;
  width: 11em;
}


.text {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 2em;
  padding-right: 4em;
  padding-top: 0.5em;
  font-size: 1.2em;
}

#me {
  background-image: url(/src/assets/home/about-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;
  width: 19em;
  margin-left: 2.5em;
  border-radius: 7%;
  display: flex;  
}

#myskills {
  font-size: 1.3em;
  font-weight: 520;
  display: flex;
  margin-left: 2em;
  padding-top: 0.5em;
}

#skills {
  width: 20em;
  margin-right: 2em;
  margin-left: 2.7em;

}

.descr-skills {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* Tablette */
@media (min-width: 768px){
  #Introduction {
    background-image: url(/src/assets/home/home-me-tablette.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50em;
    height: 50em;
  }
  #Hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4em;
    justify-content: center;
    padding-top: 5em;
    padding-left: 0.5em;
    margin-left: 1em;
    width: 10em;
    
  }
  #Job {
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
  }
  #me {
    background-image: url(/src/assets/home/about.jpg);
    width: 17em;
    height: 10em;
    background-size:cover;
    margin-left: 0em;
    margin-top: 2.5em;

  }
  button {
    width: 10em;
    height: 3em;
    font-size: 1.5em;
  }
  #skills {
    width: 12em;
    margin-left: 0.5em;
  }
  #myskills {
    font-size: 1.3em;
    margin-left:0.3em;
  }
  .bord {
    width: 12em;
  }
  #about {
    width: 13em;
    display: flex;
    height: 2em;
    padding-top: 0em;
    margin-right: 5em;
  }
  .text {
    width: 22em;
    padding-left: 2em;
    display: flex;
    text-align: start;
    padding-right: 0em;
  }
  #aboutme {
    display: flex;
    flex-direction: row;
  }
  .colonnes {
    display: flex;
    flex-direction: column;
  }
  .mypresentation {
    width: 20em;
  }
  #presentation {
    width: 28em;
  }
  #skills {
    width: 17em;
  }
  #descr-skills {
    width: 10em;
  }
}

/*Desktop*/
@media (min-width: 992px) {
  #Introduction {
    background-image: url(/src/assets/home/home-me-desktop.jpg);
    background-repeat: no-repeat;
    height: 65em;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 0;
    position:top;
    width: 63em;
  }
 #Hello {
    font-size: 4em;
    width: 15em;
    color :white;
    display: flex;
    padding-left: 0em;
    padding-right: 1em;
  }
  #Job {
    padding-top: 0.5em;
    font-size: 2em;
  }
  #about {
    align-items: stretch;
    margin-top: 2em;
    width: 17em;
  }
  .text {
    width: 27em;
    font-size: 1.2em;
    padding-top: 0.1em;
  }
  #presentation {
    display:flex;
    padding-bottom: 8em;
  }
  #test {
    width: 30em;
  }
  #me {
    background-image: url(/src/assets/home/about-mobile.jpg) ;
    margin-left: 1em;
    margin-top: 3em;
    width: 25em;
    height: 15em;
  }
  #second {
    margin-left: 5em;
  
  }
  .descr-skills {
    width: 40em;
    padding-left: 1em;
  }
  #skills {
    width: 25em;
    height: 10em;
    padding-left: 1em;
  }
  #myskills {
    padding-left: 0.5em;
    font-size: 1.5em;
    padding-left: 1em;
  }
  #me {
    padding-right: 2em;
  }
  
}



/*
/*Footer
*/

#container {
  display: flex;
  align-items: left;
  width: 20em;
}

#brandfooter {
  padding-top: 4em;
  margin-top: 5em;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  padding-left: 1em;
}

.copyright {
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color: #1e1e1e;
  width: 22em;
}

#footer-address {
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: start;
  text-decoration: ;
  margin-left: 1.2em;
  font-style:oblique;
  color : #1e1e1e;
}

em {
  font-style: none;
}

.medias {
  height: 2em;
  width: 10em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1.5em;

}

.Github {
  height: 1.5em;
  padding-right: 1.5em;
}

.X {
  height: 1.5em;
  padding-right: 1.5em;
}

.LinkdIn {
  height: 1.5em;
}

a {
  color:#000;
	text-decoration:none;
}

.chevron {
  color: #0d6efd;
  
}

.liens-utiles {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  text-align: left;
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 0.8em;
}

.liens-realisations {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  text-align: left;
  padding-bottom: 1em;
  font-size: 0.8em;
}


.liens-articles {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  text-align: left;
  padding-bottom: 2.5em;
  font-size: 0.8em;
}

/* Tablette */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .box {
    display:flex;
  }
  .title-realisation {
    margin-top: 5em;
    margin-left: 0em;
  }
  .footer-desktop {
    width: 20em;
  }
  .copyright {
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    width: 52em;
  }
  #brandfooter {
    font-size: 1em;
  }
  .foot-addr {
    font-size: 1em;
    font-weight: 500;
    margin-right: 0em;
  }

  .Github {
    height: 2em;
    padding-right: 0.5em;
  }
  
  #footer-address {
    margin-bottom: 0em;
  }

  .X {
    height: 2em;
    padding-right: 0.5em;
  }
  
  .LinkdIn {
    height: 2em;
  }

  #medias {
    width: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  a {
    font-size: 0.7em;
    font-weight: 500;
  }

  .liens-utiles {
    font-size: 1em;
  }
  .liens-realisations {
    font-size: 1em;
  }

.liens-articles {
  font-size: 1em;
}

  #mylastart {
    padding-top: 0em;
    margin-top: 0em;
    font-size: 1em;
  }
  .footer-tablette-col {
    width: 20em;
  }
  .title-realisation {
    padding-top: 3.5em;
  }
}


/*Desktop*/
@media (min-width: 992px) {
  .container {
    display: flex;
    margin-left: 0em;
  }
  .footer-desktop {
    display: flex;
    margin-right: 3em;
  }
  #brandfooter {
    padding-bottom: 0.1em;
    margin-top: 2.5em;
  }
  .liens-utiles {
    margin-top: 4.5em;
    margin-left: 3em;
    width: 15em;
  }
  .liens-articles {
    width: 15em;
  }
  .liens-realisations {
    width: 15em;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }
  #mylastart {
    margin-top: 6em;
  }
  .title-realisation {
    margin-top: 1.5em;
  }
  .copyright {
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    width: 75em;
  }
}