@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

@font-face {
  font-family: 'ninitoSans';
  src:url("./assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
};

* {
  font-family: 'ninitoSans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scroll-to-top {
  background-color: #298eff;
  color: black;
  border-radius: 2%;
  position: fixed;
  bottom: 20px;
  right: 120px;
}

/*Github*/
.profil {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  font-weight: 500;
}
.name-profil {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.div-img-github {
  width: 100%;
  display: flex;
  justify-content: center;
}
.github-picture {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 32em;
}
.text-profil {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}